// Core variables and mixins
@import "variables/default";
@import "mixins/default";

@import "bootstrap";
@import "node_modules/font-awesome/scss/font-awesome";
@import "node_modules/angular-toastr/dist/angular-toastr.min";

html, body {
  height: 100% !important;
  width: 100% !important;
  overflow: hidden;
}
body {
  margin: 0;
}

@import "general";
@import "view";
@import "navbar";
@import "forms";
@import "time-entry";
@import "users";
