.form-control {
  &.clean-form-control {
    background: transparent !important;
    box-shadow: none;
    border-bottom-width: 1px;
    border-top-width: 0;
    border-left-width: 0;
    border-right-width: 0;
    border-radius: 0px;
  }
}

#form-new, #filters-form {
  margin-top: 10px !important;
  margin-bottom: 10px !important;
}

@media (min-width: $screen-sm-min) {
  #form-new {
    margin-top: 25px;
    margin-bottom: 25px;
  }

  #form-new, #filters-form {
    .control-label {
      font-size: 18px;
    }

    &.collapse {
      display: block !important;
    }
  }
}
