.navbar {
  margin-bottom: 0 !important;
}

@media (min-width: $screen-sm-min) {
  .navbar-collapse.collapse {
    &.hidden-sm, &.hidden-md, &.hidden-lg {
      display: none !important;
    }
  }
}

@media (max-width: $screen-xs-max) {
  .hidden-xs {
    display: none !important;
  }
}
@media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
  .hidden-sm {
    display: none !important;
  }
}
@media (min-width: $screen-md-min) and (max-width: $screen-md-max) {
  .hidden-md {
    display: none !important;
  }
}
@media (min-width: $screen-lg-min) {
  .hidden-lg {
    display: none !important;
  }
}
