.time-entry-list {
  padding-bottom: 100px;

  .time-entry-list-day-box {
    padding: 15px;
  }

  .time-entry:not(:last-child) {
    margin-bottom: 10px;
  }
}

.time-entry {
  margin: 0;
  padding: 5px 15px;
  border-radius: 4px;

  .time-entry-body {
    display: flex;
    flex-flow: column;

    .time-entry-summary {
      display: flex;
      flex-direction: row;
      align-content: center;
      align-items: center;
      justify-content: space-between;

      .time-entry-description {
        flex-grow: 1;
        min-width: 0;
        overflow: hidden;
        text-overflow: ellipsis;

        .time-entry-description-user {
          display: inline-block;
        }
      }
    }

    .time-entry-details {
      .time-entry-notes {
        margin-top: 15px;
        display: flex;
        flex-flow: column;

        .time-entry-note {
          flex-grow: 1;
          position: relative;
          border-radius: 10px;
          display: flex;
          flex-flow: column;
          margin-bottom: 10px;

          .time-entry-note-text {
            flex-grow: 1;
            padding: 12px 15px;
            min-width: 0;
            overflow: hidden;
            text-overflow: ellipsis;
          }

          &.new-note {
            .time-entry-note-text {
              padding: 5px 15px;
            }
          }

          .time-entry-note-action {
            flex-grow: 1;
            display: flex;
            justify-content: center;
            align-items: center;
          }
        }
      }

      .time-entry-actions {
        display: flex;
        flex-flow: row;
        justify-content: flex-end;
        margin-top: 25px;

        .time-entry-action-group {
          flex-grow: 1;
        }
      }
    }
  }
}
@media (min-width: $screen-sm-min) {
  .time-entry {
    .time-entry-body {
      .time-entry-details {
        .time-entry-notes {
          align-items: flex-start;

          .time-entry-note {
            flex-grow: 0;
            flex-flow: row;

            .time-entry-note-text {
              line-height: 1.5;
            }

            .time-entry-note-action {
              flex-grow: 0;

              .btn {
                margin-top: 0;
              }
            }
          }
        }

        .time-entry-actions {
          .time-entry-action-group {
            flex-grow: 0;
          }
        }
      }
    }
  }
}
